.filters{
    margin-bottom: 0.8em;
}

/* .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.1em; 
    grid-row-gap: 0.1em; 
} */

.linkCard{
    text-decoration: none;
    font-size: small;
}


.searchBar {
    display: flex;
    margin-top: 0.5em;
    margin-left: 30em;
  }

.createButton{
    display: flex;
    margin-left: 80em;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60vh 30vh;
    width: 30rem;
    padding: 1em 0.5rem;
    margin-left: 21em;
  }


